/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin: 0;
}

header {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.start-page input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.join-game-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
}

/* Game page elements */
.game-page {
  display: flex;
  justify-content: space-evenly;
}

#countdown {
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 2em;
}

.online-users {
  align-self: flex-start;
  max-height: 200px;
}

.new-user-item {
  list-style: none;
}

.new-user-list {
  align-items: flex-end;
}

.chat-list-container {
  height: 300px;
  width: 400px;
  border: 2px solid black;
  border-radius: 3px;
  overflow: auto;
  margin-top: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.message-list {
  list-style: none;
}

.message-label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.send-btn {
  margin-left: 5px;
  background-color: #2196f3;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.chat-section {
  align-self: flex-end;
}

.hidden {
  display: none;
}

/* Start chat name rules */
.chat-name {
  display: inline-block;
}

/* Colors for userID (chat name) */
#user0 {
  color: violet;
}

#user1 {
  color: indigo;
}

#user2 {
  color: green;
}

#user3 {
  color: yellow;
}

#user4 {
  color: orange;
}

#user5 {
  color: red;
}

/* End chat name rules */

/* Style chat messages*/

.own-msg {
  text-align: right;
  background-color: #2196f3;
  list-style: none;
}

.other-user-msg {
  text-align: left;
  list-style: none;
}

/* Style grid container */
.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  /*background-color: #2196f3;*/
  padding: 10px;
}

.grid-item {
  display: inline-block;
  /* background-color: white; */
  width: 40px;
  height: 40px;
  outline: 2px solid black;
}
/* Style grid when displaying picture at start of game */
.cell {
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: 2px solid black;
}

/* Color palette */

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.grey {
  background-color: lightgray;
}

/* End color palette */
